.git/
.gitignore
.gitattributes

Dockerfile
.dockerignore
docker-compose.yml

runtime/
web/assets/

vendor/

.idea/
.vscode/
*.swp
*.swo
*~

.env
.env.*
!.env.example

README.md
LICENSE
composer.lock

tests/
codeception.yml
phpunit.xml

uploads/
web/uploads/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web/css/
web/js/