.git/
.gitignore
.gitattributes

vendor/

.idea/
.vscode/
*.swp
*.swo
*~

.env
.env.*
!.env.example

README.md
LICENSE

tests/
codeception.yml
phpunit.xml

uploads/
web/uploads/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
web/js/