body {
  font-family: "Nunito Sans", sans-serif;
  color: #202224;
  background-color: #f5f6fa;
  margin: 0 !important;
}

body > login-container .hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.navbar-title {
  font-size: 2rem;
  font-weight: 700;
  cursor: default;
}

.navbar {
  background-color: #f5f6fa;
}
.site-index,
.site-error,
.post-my-posts {
  padding-top: 80px;
}

.textfield {
  width: 100%;
  background-color: #f1f4f9;
  border: #d8d8d8 1px solid;
  border-radius: 10px;
  padding: 10px;
}
.post-title-input,
.post-title-input::placeholder {
  font-weight: 700;
}

.post-desc-input::placeholder {
  font-size: 14px;
  color: #a6a6a6;
}
.form-group {
  margin-bottom: 10px;
}

.form-buttons {
  display: flex;
  justify-content: end;
}
.post-title-edit {
  font-weight: 700;
}
.post-desc-edit {
  font-size: 14px;
  color: #a6a6a6;
}
.alert {
  /* margin-top: 90px; */
}
